* {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.header {
    padding: 40px 0;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #292;
    font-weight: bold;
}

.list {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    color: #444;
}

.description {
    margin: 10px 0;
    padding: 10px 0;
}

.description h2 {
    margin: 10px 0;
}

.ingredients, .steps {
    padding: 10px 0 1px;
    margin-bottom: 10px;
}

.ingredients:not(.list) {
    box-shadow: 1px 1px 1px 1px #eef;
    border-radius: 2%;
    background-color: #fcfceb;
}

.steps:not(.list) {
    box-shadow: 1px 1px 1px 1px #eef;
    border-radius: 1%;
    background-color: #fcfceb;
}

.list.ingredients li {
    margin: 10px 0;
    text-align: left;
}

.list.steps li {
    list-style: decimal;
    text-align: left;
    margin: 10px 18px;
}

footer {
    text-align: right;
    font-style: italic;
    font-size: 14px;
}